<% @hello = ["one.jpeg", "two.jpeg", "three.jpeg", "four.jpeg", "five.jpeg", "six.jpeg", "seven.jpeg", "eight.jpeg", "nine.jpeg", "ten.jpeg", "eleven.jpeg", "twelve.jpeg", "thirteen.jpeg", "fourteen.jpeg" ] %>

<div class="banner">
  <%= cl_image_tag("bannerthree",
        width: 1300, height: 400, crop: :fill) %>
</div>

<div class="links">
  <ul id="right">
    <li>
      <%= link_to bars_path do%>
        <i class="fas fa-bars fa-3x" id="fav"></i>
        <p>List Bars</p>
      <% end %>
    </li>
    <li>
      <%= link_to new_cocktail_path do%>
        <i class="fas fa-glass-martini fa-3x" id="fav"></i>
        <p>Add Cocktail</p>
      <% end %>
    </li>
    <li>
      <%= link_to new_bar_path do%>
        <i class="far fa-file-alt fa-3x" id="fav"></i>
        <p>Add Bar</p>
      <% end %>
    </li>
  </ul>
</div>


<div class="whono">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail|  %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="<%= 'background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(\'' + cl_image_path(cocktail.photo) + '\')' %>">
              <div class="card-category"><%= link_to cocktail.bar.name, bar_path(cocktail.bar) %></div>
              <div class="card-description">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
                <p><%= cocktail.catch_phrase %></p>
              </div>
              <div class="card-price">
                <% if cocktail.price < 15 %>
                  <i class="fas fa-dollar-sign"></i>
                <% elsif cocktail.price < 21 %>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                <% else %>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end  %>
      </div>
    </div>
</div>
