<div class="who">
  <div class="when">
    <div class="how">
      <h1>
      <%= @cocktail.name %>
      </h1>
      <h4> <strong>@</strong></h4>
      <h3>
        <%= link_to @cocktail.bar.name, bar_path(@cocktail.bar) %>
      </h3>

    <div class="cocktail-image">
      <%= cl_image_tag(@cocktail.photo,
            width: 400, height: 300, crop: :fill) %>
    </div>
<!--     <div class="how"> -->
      <ul id="otis">
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do%>
                    <i class="far fa-trash-alt"></i>
                    <% end %>

        </li>
      <% end %>
        <li>
          <%=  link_to "Add Dose", new_cocktail_dose_path(@cocktail) %>
        </li>

      </ul>

      <%= link_to "Delete", cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      <%= link_to "Go Home", cocktails_path  %>
    </div>
  </div>
</div>
