<% @hello = ["one.jpeg", "two.jpeg", "three.jpeg", "four.jpeg", "five.jpeg", "six.jpeg", "seven.jpeg", "eight.jpeg", "nine.jpeg", "ten.jpeg", "eleven.jpeg", "twelve.jpeg", "thirteen.jpeg" ] %>
<% image = asset_url(@hello.sample) %>

<div class="who">
  <div class="when">
    <div class="how">
      <h1>
      <%= @cocktail.name %>
      </h1>
    </div>

    <div class="why" style="<%= 'background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(\'' + image + '\')' %>">

    </div>
    <div class="how">
      <ul id="otis">
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do%>
                    <i class="far fa-trash-alt"></i>
                    <% end %>

        </li>
      <% end %>
        <li>
          <%=  link_to "Add Dose", new_cocktail_dose_path(@cocktail) %>
        </li>

      </ul>

      <%= link_to "Delete", cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
